main, nav {
  padding-left: 240px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

main {
  margin-top: 50px;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

.resource-original {
  float: right;
  margin-right: 0;
}

.resource-date {
  opacity: 0.4;
}
