body {
  background-color: #f5f5f5;
}

main, nav {
  padding-left: 240px;
}

main {
  margin-top: 50px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100%;
}

div .search {
  background-color: #26c6da;
}

.side-nav {
  background-color: whitesmoke;
}

#logo {
  margin: 40px 70px 0px 70px;
  width: 100px;
}

.greeting {
  margin-left: 15px;
  font-size: 1.2rem;
}

.tabs {
  background-color: transparent;
}

.tabs .tab {
  min-width: 140px;
}

.header {
  color: #7e57c2;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.resource-original {
  float: right;
  margin-right: 0;
}

.resource-site_name {
  opacity: 0.4;
}

.favicon {
  padding-right: 5px;
}

.card .card-title {
  font-size: 18px;
}

#url::-webkit-input-placeholder {
  color: lightgrey;
}

#url:-moz-placeholder { /* Firefox 18- */
  color: lightgrey;
}

#url::-moz-placeholder {  /* Firefox 19+ */
  color: lightgrey;
}

#url:-ms-input-placeholder {
  color: lightgrey;
}

// .line-clamp {
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 2;
//   -webkit-box-orient: vertical;
// }

// @media only screen and (min-width: 601px) {
//   .container {
//     width: 100%;
//   }
// }
//
// @media only screen and (min-width: 993px) {
//   .container {
//     width: 90%;
//   }
// }
