main, nav {
  padding-left: 240px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
  height: 100%;
}

.header {
  color: #ee6e73;
  font-weight: 300;
}

main {
  margin-top: 50px;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.resource-original {
  float: right;
  margin-right: 0;
}

.resource-site_name {
  opacity: 0.4;
}

.tabs .tab {
  min-width: 140px;
}

.favicon {
  padding-right: 5px;
}

.greeting {
  margin-left: 15px;
  font-size: 1.2rem;
}

.card .card-title {
  font-size: 20px;
}

#url::-webkit-input-placeholder {
  color: lightgrey;
}

#url:-moz-placeholder { /* Firefox 18- */
  color: lightgrey;
}

#url::-moz-placeholder {  /* Firefox 19+ */
  color: lightgrey;
}

#url:-ms-input-placeholder {
  color: lightgrey;
}

// .line-clamp {
//   overflow: hidden;
//   display: -webkit-box;
//   -webkit-line-clamp: 1;
//   -webkit-box-orient: vertical;
// }
